---
import Layout from '../layouts/Layout.astro';
import { SearchInput } from '../components/ui/SearchInput';
---

<Layout title="Welcome">
    <div class="flex items-center justify-center min-h-screen">
        <SearchInput client:load />
    </div>
</Layout>


