---
import Layout from "@/layouts/Layout.astro";
import { SearchInput } from "@/components/SearchInput";
---

<Layout title="Welcome">
  <div class="flex items-center justify-center min-h-screen py-8">
    <SearchInput client:load />
  </div>
</Layout>
